<h1>
	This is the secret page!!
</h1>

<p>
	You found ME!!!
</p>

<img src="https://www.auth.gr/sites/default/files/LogoAUTH300ppi.png">


<li><a href="/register">Register</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>